*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
}
.success{
  position: absolute;
  top: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
.success button{
  padding: 10px 15px;
  background-color: rgb(25, 202, 25);
  color: white;
  border-radius: 5px;
  border: none;
}
.header{
  height: 20vh;
  background-color: rgb(107, 107, 107);
}
.app-body{
  background: rgb(120, 120, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}
.footer{
  height: 150px;
  background-color: #2954B1;
}
.btuON{
  position: absolute;
  z-index: 1;
  padding: 15px 40px;
  background-color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

